@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Collection Page";
}

<div class="text-center">
    <h1 class="display-4">Collection</h1>
    <p>Full collection page. To show each album, in order by artist (Fn, Ln).</p>
</div>

<pre>
    @Html.Raw(JsonConvert.SerializeObject(Model, Formatting.Indented))
</pre>
